In [18]:
import pandas as pd
import csv
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [19]:
df = pd.read_csv("1127_received.csv",usecols=['TransactionId','TransacionDate','ProdcutId','quantity'])

In [20]:
df=df.dropna()

In [21]:
df.columns=['Id','Date', 'ProductId', 'Quantity']

In [42]:
df1=df
df1

          Id                     Date  ProductId  Quantity
0     395925  2018-05-05 16:00:01.543       6101       1.0
1     395926  2018-05-05 16:00:01.617       6132       1.0
2     395928  2018-05-05 16:00:01.867       5799       1.0
3     395930  2018-05-05 16:00:02.113       6177       1.0
4     395931  2018-05-05 16:00:02.213       5779       1.0
5     395931  2018-05-05 16:00:02.213       6428       1.0
6     395932  2018-05-05 16:00:02.300       6267       1.0
7     395933  2018-05-05 16:00:02.397       6132       1.0
8     395934  2018-05-05 16:00:02.473       6439       1.0
9     395937  2018-05-06 00:00:00.523       6468       1.0
10    395937  2018-05-06 00:00:00.523       6670       1.0
11    395938  2018-05-06 00:00:00.677       6628       1.0
12    395978  2018-05-06 08:00:00.557       6044       1.0
13    395980  2018-05-06 08:00:00.757       6052       1.0
14    395982  2018-05-06 08:00:00.933       6664       1.0
15    395982  2018-05-06 08:00:00.933       6664       1.0
16    395991  2018-05-08 00:00:00.850       5902       1.0
17    395992  2018-05-08 00:00:00.940       6452       1.0
18    395993  2018-05-08 00:00:01.040       6753       1.0
19    396011  2018-05-08 08:00:00.647       6382       1.0
20    396012  2018-05-08 08:00:00.743       6701       1.0
21    396013  2018-05-08 08:00:00.827       6336       1.0
22    396013  2018-05-08 08:00:00.827       6270       1.0
23    396014  2018-05-08 08:00:00.903       6722       1.0
24    396014  2018-05-08 08:00:00.903       6262       1.0
25    396017  2018-05-08 08:00:01.163       6746       1.0
26    396020  2018-05-08 08:00:01.460       5836       1.0
27    396020  2018-05-08 08:00:01.460       6658       1.0
28    396021  2018-05-08 08:00:01.600       6341       1.0
29    396023  2018-05-08 08:00:01.800       5825       1.0
...      ...                      ...        ...       ...
9970  313256  2017-07-28 07:24:57.403       5893       1.0
9971  313258  2017-07-18 03:27:44.417       5779       1.0
9972  313259  2017-05-14 16:58:08.897       6520       1.0
9973  313259  2017-05-14 16:58:08.897       6701       1.0
9974  313260  2017-07-21 06:11:19.947       5778       1.0
9975  313261  2017-06-01 18:15:45.397       6062       1.0
9976  313262  2017-03-22 23:40:17.057       6437       1.0
9977  313263  2017-07-13 19:49:53.657       6044       1.0
9978  313264  2017-06-24 16:23:20.023       5995       1.0
9979  313264  2017-06-24 16:23:20.023       6746       1.0
9980  313264  2017-06-24 16:23:20.023       5903       1.0
9981  313271  2017-04-29 01:01:14.250       5987       1.0
9982  313272  2017-08-29 19:30:49.037       6480       1.0
9983  313272  2017-08-29 19:30:49.037       6129       1.0
9984  313275  2017-08-25 22:29:12.533       6055       1.0
9985  313278  2017-07-30 20:13:08.977       5895       1.0
9986  313280  2017-08-11 10:43:23.160       5949       1.0
9987  313280  2017-08-11 10:43:23.160       5896       1.0
9988  313281  2017-03-25 14:13:53.593       6642       1.0
9989  313281  2017-03-25 14:13:53.593       6385       1.0
9990  313282  2017-07-15 10:42:53.593       6044       1.0
9991  313282  2017-07-15 10:42:53.593       6129       1.0
9992  313282  2017-07-15 10:42:53.593       5879       1.0
9993  313284  2017-03-25 22:45:48.580       6158       1.0
9994  313286  2017-09-02 17:30:36.100       6428       1.0
9995  313286  2017-09-02 17:30:36.100       5780       1.0
9996  313287  2017-08-23 16:30:42.137       6483       1.0
9997  313288  2017-05-07 23:08:14.540       6214       1.0
9998  313288  2017-05-07 23:08:14.540       6483       1.0
9999  313289  2017-04-18 05:12:55.867       5814       1.0

[10000 rows x 4 columns]

In [43]:
counts=df1['Id'].value_counts()

In [44]:
df1=df1[df1['Id'].isin(counts[counts>=2].index)]
df1

          Id                     Date  ProductId  Quantity
4     395931  2018-05-05 16:00:02.213       5779       1.0
5     395931  2018-05-05 16:00:02.213       6428       1.0
9     395937  2018-05-06 00:00:00.523       6468       1.0
10    395937  2018-05-06 00:00:00.523       6670       1.0
14    395982  2018-05-06 08:00:00.933       6664       1.0
15    395982  2018-05-06 08:00:00.933       6664       1.0
21    396013  2018-05-08 08:00:00.827       6336       1.0
22    396013  2018-05-08 08:00:00.827       6270       1.0
23    396014  2018-05-08 08:00:00.903       6722       1.0
24    396014  2018-05-08 08:00:00.903       6262       1.0
26    396020  2018-05-08 08:00:01.460       5836       1.0
27    396020  2018-05-08 08:00:01.460       6658       1.0
47    396109  2018-05-09 04:00:01.270       7905       1.0
48    396109  2018-05-09 04:00:01.270       8342       1.0
49    396109  2018-05-09 04:00:01.270       8387       1.0
50    396109  2018-05-09 04:00:01.270       6354       1.0
52    396112  2018-05-09 04:00:01.550       6437       1.0
53    396112  2018-05-09 04:00:01.550       6269       1.0
54    396114  2018-05-09 04:00:01.737       5859       1.0
55    396114  2018-05-09 04:00:01.737       5927       1.0
61    396125  2018-05-09 04:00:02.880       5886       1.0
62    396125  2018-05-09 04:00:02.880       6172       1.0
63    396125  2018-05-09 04:00:02.880       6413       1.0
65    396140  2018-05-09 08:00:00.587       5875       1.0
66    396140  2018-05-09 08:00:00.587       5940       1.0
69    396148  2018-05-09 08:00:05.400       1097       1.0
70    396148  2018-05-09 08:00:05.400       7899       1.0
71    396148  2018-05-09 08:00:05.400       7925       1.0
72    396148  2018-05-09 08:00:05.400       8336       1.0
73    396148  2018-05-09 08:00:05.400       8397       1.0
...      ...                      ...        ...       ...
9954  313242  2017-04-02 20:46:15.400       6419       1.0
9955  313242  2017-04-02 20:46:15.400       6072       1.0
9956  313244  2017-03-25 20:25:42.487       6472       1.0
9957  313244  2017-03-25 20:25:42.487       6282       1.0
9959  313246  2017-05-13 11:39:40.173       6341       1.0
9960  313246  2017-05-13 11:39:40.173       6468       1.0
9962  313248  2017-07-02 06:30:24.400       6072       1.0
9963  313248  2017-07-02 06:30:24.400       6165       1.0
9965  313251  2017-07-02 23:59:35.507       5785       1.0
9966  313251  2017-07-02 23:59:35.507       6322       1.0
9969  313256  2017-07-28 07:24:57.403       5859       1.0
9970  313256  2017-07-28 07:24:57.403       5893       1.0
9972  313259  2017-05-14 16:58:08.897       6520       1.0
9973  313259  2017-05-14 16:58:08.897       6701       1.0
9978  313264  2017-06-24 16:23:20.023       5995       1.0
9979  313264  2017-06-24 16:23:20.023       6746       1.0
9980  313264  2017-06-24 16:23:20.023       5903       1.0
9982  313272  2017-08-29 19:30:49.037       6480       1.0
9983  313272  2017-08-29 19:30:49.037       6129       1.0
9986  313280  2017-08-11 10:43:23.160       5949       1.0
9987  313280  2017-08-11 10:43:23.160       5896       1.0
9988  313281  2017-03-25 14:13:53.593       6642       1.0
9989  313281  2017-03-25 14:13:53.593       6385       1.0
9990  313282  2017-07-15 10:42:53.593       6044       1.0
9991  313282  2017-07-15 10:42:53.593       6129       1.0
9992  313282  2017-07-15 10:42:53.593       5879       1.0
9994  313286  2017-09-02 17:30:36.100       6428       1.0
9995  313286  2017-09-02 17:30:36.100       5780       1.0
9997  313288  2017-05-07 23:08:14.540       6214       1.0
9998  313288  2017-05-07 23:08:14.540       6483       1.0

[5130 rows x 4 columns]

In [45]:
df1['start'],df1['time'] = zip(*df1['Date'].map(lambda x: x.split(' ')))

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
date='2017-03-25'
end='2018-05-30'

In [47]:



df1= df1[(df1['start']>=date)&(df1['start']<=end)]

In [48]:
basket = (df1
          .groupby(['Id', 'ProductId'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Id'))

In [49]:
def encode_units(x):
    	if x <= 0:
        	return 0
    	if x >= 1:
        	return 1

In [50]:
basket_sets = basket.applymap(encode_units)

In [55]:
frequent_itemsets =apriori(basket_sets, min_support=0.01, use_colnames=True)

In [52]:
rules = association_rules(frequent_itemsets, min_threshold=1)

rules['length'] = rules['antecedants'].apply(lambda x: len(x))
rules=rules[ (rules['length'] == 1)]
rules=rules.drop(['antecedent support','consequent support','support','length','conviction'],   axis=1)

In [53]:
rules["client"]=1127
#rules=rules.groupby('antecedants')['consequents'].unique()
from time import gmtime, strftime
date_now=strftime("%Y-%m-%d", gmtime())
date_now
rules['date_now']=date_now
rules
#date_now=pd.to_datetime('today')
#date_now
#rules.to_csv('csv1127.csv')

#rules

,antecedants,consequents,confidence,lift,leverage,client,date_now
0,(1097),(8397),1.0,37.916667,0.025678,1127,2018-08-29
1,(8397),(1097),1.0,37.916667,0.025678,1127,2018-08-29
5,(8336),"(1097, 7899)",1.0,37.916667,0.025678,1127,2018-08-29
6,(1097),"(8336, 7899)",1.0,37.916667,0.025678,1127,2018-08-29
7,(7899),"(8336, 1097)",1.0,37.916667,0.025678,1127,2018-08-29
33,(8336),"(1097, 7899, 7925, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
34,(1097),"(8336, 7899, 7925, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
35,(7899),"(8336, 1097, 7925, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
36,(7925),"(8336, 1097, 7899, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
37,(8397),"(8336, 1097, 7899, 7925)",1.0,37.916667,0.025678,1127,2018-08-29
38,(7930),(8367),1.0,72.800000,0.013548,1127,2018-08-29
39,(8367),(7930),1.0,72.800000,0.013548,1127,2018-08-29
43,(8336),"(1097, 7925)",1.0,37.916667,0.025678,1127,2018-08-29
44,(1097),"(8336, 7925)",1.0,37.916667,0.025678,1127,2018-08-29
45,(7925),"(8336, 1097)",1.0,37.916667,0.025678,1127,2018-08-29
56,(8336),"(7899, 7925, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
57,(7899),"(8336, 7925, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
58,(7925),"(8336, 7899, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
59,(8397),"(8336, 7899, 7925)",1.0,37.916667,0.025678,1127,2018-08-29
60,(1097),(7925),1.0,37.916667,0.025678,1127,2018-08-29
61,(7925),(1097),1.0,37.916667,0.025678,1127,2018-08-29
62,(8344),(8385),1.0,79.130435,0.012478,1127,2018-08-29
63,(8385),(8344),1.0,79.130435,0.012478,1127,2018-08-29
64,(1097),(7899),1.0,37.916667,0.025678,1127,2018-08-29
65,(7899),(1097),1.0,37.916667,0.025678,1127,2018-08-29
66,(8360),(7923),1.0,72.800000,0.013548,1127,2018-08-29
67,(7923),(8360),1.0,72.800000,0.013548,1127,2018-08-29
71,(1097),"(7925, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
72,(7925),"(1097, 8397)",1.0,37.916667,0.025678,1127,2018-08-29
73,(8397),"(1097, 7925)",1.0,37.916667,0.025678,1127,2018-08-29
...,...,...,...,...,...,...,...
230,(8344),(7907),1.0,79.130435,0.012478,1127,2018-08-29
231,(7907),(8344),1.0,79.130435,0.012478,1127,2018-08-29
235,(7906),"(8386, 8343)",1.0,86.666667,0.011405,1127,2018-08-29
236,(8386),"(7906, 8343)",1.0,86.666667,0.011405,1127,2018-08-29
237,(8343),"(7906, 8386)",1.0,86.666667,0.011405,1127,2018-08-29
241,(8344),"(8385, 7907)",1.0,79.130435,0.012478,1127,2018-08-29
242,(8385),"(8344, 7907)",1.0,79.130435,0.012478,1127,2018-08-29
243,(7907),"(8344, 8385)",1.0,79.130435,0.012478,1127,2018-08-29
244,(8336),(1097),1.0,37.916667,0.025678,1127,2018-08-29
245,(1097),(8336),1.0,37.916667,0.025678,1127,2018-08-29
246,(8340),(7903),1.0,49.189189,0.019916,1127,2018-08-29
247,(7903),(8340),1.0,49.189189,0.019916,1127,2018-08-29
248,(8376),(8353),1.0,58.709677,0.016743,1127,2018-08-29
249,(8353),(8376),1.0,58.709677,0.016743,1127,2018-08-29
253,(7930),"(8362, 8367)",1.0,72.800000,0.013548,1127,2018-08-29
254,(8362),"(7930, 8367)",1.0,72.800000,0.013548,1127,2018-08-29
255,(8367),"(7930, 8362)",1.0,72.800000,0.013548,1127,2018-08-29
256,(8340),(8389),1.0,49.189189,0.019916,1127,2018-08-29
257,(8389),(8340),1.0,49.189189,0.019916,1127,2018-08-29
261,(76),"(77, 3375)",1.0,37.142857,0.026198,1127,2018-08-29
262,(77),"(76, 3375)",1.0,37.142857,0.026198,1127,2018-08-29
263,(3375),"(76, 77)",1.0,37.142857,0.026198,1127,2018-08-29
267,(1097),"(7899, 7925)",1.0,37.916667,0.025678,1127,2018-08-29
268,(7899),"(1097, 7925)",1.0,37.916667,0.025678,1127,2018-08-29
269,(7925),"(1097, 7899)",1.0,37.916667,0.025678,1127,2018-08-29
273,(8376),"(8353, 7916)",1.0,58.709677,0.016743,1127,2018-08-29
274,(8353),"(8376, 7916)",1.0,58.709677,0.016743,1127,2018-08-29
275,(7916),"(8376, 8353)",1.0,58.709677,0.016743,1127,2018-08-29
276,(8385),(7907),1.0,79.130435,0.012478,1127,2018-08-29
277,(7907),(8385),1.0,79.130435,0.012478,1127,2018-08-29